freetype-py
imageio
networkx
numpy
Pillow
pyglet>=1.4.10
PyOpenGL
PyOpenGL_accelerate
six
sphinx
sphinx_rtd_theme
sphinx-automodapi

-e git://github.com/YulioTech/trimesh-fixes.git#egg=trimesh-fixes

